 <body>

    <% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
   <% end %>

  <h4>Title</h4>
  <p><%= @book.title %></p>

  <h4>Body</h4>
  <p><%= @book.body %></p>

  <table>
  <thead>
<tr><%= link_to "Edit", edit_book_path %></tr>
<tr> | </tr>
<tr><%= link_to "Back", books_path %></tr>
</thead>
<table>

</body>